<h1>Search Page</h1>

<form method="GET">
    <input type="text" name="user_id" placeholder="search term">
    <button formaction="/friends">Direct</button>
    <button formaction="/friends-of-friends">Friends of friends</button>

</form>